In [163]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook

## Train과 Test 로드
- 1 ~ 29305
- 29306 ~ 48842

In [164]:
    # train,test 데이터 로드
    train = pd.read_csv('train.csv', index_col="no")    
    test = pd.read_csv('test.csv', index_col="no")

    # income 별도로 분리
    # inplace 속성으로 drop결과를 바로 적용
    targets = train.income
    train.drop(['income'], axis = 1, inplace=True)

In [165]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
no,,,,,,,,,,,,,,
1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States
2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States
3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti
4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States
5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States
6,66,Self-emp-not-inc,274451,9th,5,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,25,United-States
7,56,Private,152874,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,0,1741,40,United-States
8,70,Self-emp-not-inc,165586,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States
9,21,Private,211013,Assoc-voc,11,Married-civ-spouse,Other-service,Other-relative,White,Female,0,0,50,Mexico
10,33,Private,192644,HS-grad,9,Separated,Handlers-cleaners,Unmarried,White,Male,0,0,35,Puerto-Rico
11,45,Private,174794,Some-college,10,Divorced,Priv-house-serv,Not-in-family,White,Female,0,0,29,United-States
12,54,Private,231004,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,37,United-States
13,63,Local-gov,241404,Some-college,10,Divorced,Protective-serv,Not-in-family,White,Female,0,0,35,United-States
14,58,Local-gov,36091,Masters,14,Never-married,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States
15,44,Self-emp-not-inc,53956,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,45,United-States
16,31,Private,162312,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,35,Philippines
17,54,Private,299324,5th-6th,3,Married-spouse-absent,Machine-op-inspct,Unmarried,White,Male,0,0,40,Mexico
18,17,Private,52012,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,15,United-States
19,43,Private,208613,Prof-school,15,Married-spouse-absent,Prof-specialty,Not-in-family,White,Male,99999,0,40,United-States
20,18,?,220168,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16,United-States
21,23,?,194096,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States
22,50,Self-emp-not-inc,343748,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States
23,54,Private,96062,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
24,19,Private,366088,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States
25,19,?,50626,Some-college,10,Never-married,?,Own-child,Black,Female,0,0,20,United-States
26,45,Private,179048,12th,8,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,35,?
27,38,Private,275338,Bachelors,13,Divorced,Sales,Unmarried,White,Female,1151,0,40,United-States
28,33,Private,126950,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,60,United-States
29,29,Private,190539,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,1590,50,United-States
30,18,Private,332125,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,2176,0,25,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29276,21,Private,152668,Some-college,10,Never-married,Other-service,Not-in-family,White,Male,0,0,35,United-States
29277,22,Private,83315,HS-grad,9,Never-married,Adm-clerical,Unmarried,White,Male,0,0,40,United-States
29278,50,Private,217083,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States
29279,23,Local-gov,307267,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,10,United-States
29280,58,Local-gov,368797,Masters,14,Widowed,Prof-specialty,Unmarried,White,Male,0,0,35,United-States
29281,22,?,110622,Bachelors,13,Never-married,?,Own-child,Asian-Pac-Islander,Female,0,0,15,Taiwan
29282,17,Private,236091,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,8,United-States
29283,46,Private,173938,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,United-States
29284,32,Private,334744,HS-grad,9,Never-married,Tech-support,Not-in-family,White,Male,0,0,45,United-States
29285,34,Private,160261,HS-grad,9,Never-married,Tech-support,Own-child,Asian-Pac-Islander,Male,14084,0,35,China
29286,26,Private,199600,HS-grad,9,Never-married,Sales,Not-in-family,Black,Male,0,0,40,United-States
29287,21,?,143995,Some-college,10,Never-married,?,Own-child,Black,Male,0,0,20,United-States
29288,42,State-gov,74334,Masters,14,Married-civ-spouse,Adm-clerical,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States
29289,29,Private,242482,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,32,United-States
29290,61,Private,171429,11th,7,Divorced,Other-service,Unmarried,White,Female,0,0,36,United-States
29291,49,Private,34545,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,40,United-States
29292,65,State-gov,42488,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,2653,0,8,United-States
29293,46,Private,199378,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,90,United-States
29294,31,Private,60229,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
29295,28,Private,65078,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
29296,37,Private,61299,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States
29297,53,Private,182855,10th,6,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
29298,28,Self-emp-not-inc,183151,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
29299,19,Private,93762,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
29300,23,Private,117789,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States
29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico
29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States
29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States
29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States
29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States

In [166]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
no,,,,,,,,,,,,,,
29306,18,?,245274,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16,United-States
29307,29,Private,83003,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
29308,45,Private,35136,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40,United-States
29309,42,Self-emp-not-inc,64631,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
29310,41,Private,195821,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40,United-States
29311,17,Private,25690,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States
29312,34,Local-gov,284843,HS-grad,9,Never-married,Farming-fishing,Not-in-family,Black,Male,594,0,60,United-States
29313,22,Self-emp-inc,120753,Bachelors,13,Never-married,Sales,Own-child,White,Male,0,0,50,United-States
29314,35,Private,127306,Assoc-voc,11,Never-married,Adm-clerical,Own-child,White,Female,14344,0,40,United-States
29315,36,?,205396,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,4,United-States
29316,35,Private,251091,Masters,14,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,38,Puerto-Rico
29317,42,Private,84661,Some-college,10,Divorced,Craft-repair,Own-child,White,Male,0,0,30,United-States
29318,40,Private,137142,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
29319,81,Private,192813,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,25,Portugal
29320,36,Private,228190,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,20,United-States
29321,21,?,357029,Some-college,10,Married-civ-spouse,?,Wife,Black,Female,2105,0,20,United-States
29322,26,Private,104045,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
29323,24,Private,230475,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,44,United-States
29324,33,Private,129529,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States
29325,27,Private,111361,Some-college,10,Divorced,Sales,Unmarried,White,Female,0,0,35,United-States
29326,24,Private,190290,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States
29327,55,Private,157079,Some-college,10,Married-civ-spouse,Protective-serv,Husband,Black,Male,0,0,40,?
29328,49,?,188141,Some-college,10,Widowed,?,Unmarried,White,Female,0,0,60,United-States
29329,52,State-gov,145072,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
29330,42,Self-emp-not-inc,133584,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,El-Salvador
29331,60,Self-emp-not-inc,123190,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,67,United-States
29332,33,Private,209101,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States
29333,24,Private,275884,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,40,United-States
29334,51,Private,172281,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,0,40,United-States
29335,48,Self-emp-not-inc,164582,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,7298,0,60,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48813,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England
48814,61,Self-emp-inc,119986,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
48815,36,Private,209993,1st-4th,2,Widowed,Other-service,Other-relative,White,Female,0,0,20,Mexico
48816,39,Private,205359,Assoc-acdm,12,Widowed,Adm-clerical,Unmarried,White,Female,0,0,45,United-States
48817,51,Private,255412,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,France
48818,27,Private,116298,HS-grad,9,Separated,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
48819,47,Private,106942,7th-8th,4,Separated,Other-service,Not-in-family,White,Female,0,0,38,United-States
48820,47,Private,94342,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,16,United-States
48821,45,Self-emp-not-inc,58683,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,5178,0,48,United-States
48822,31,Private,309620,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,6,South
48823,62,Private,113440,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,35,United-States
48824,65,Private,213149,HS-grad,9,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States
48825,39,Private,185084,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,55,United-States
48826,37,Local-gov,189878,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,60,United-States
48827,58,Federal-gov,26947,Bachelors,13,Widowed,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States
48828,24,Private,379418,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
48829,20,Private,190231,9th,5,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,11,Nicaragua
48830,69,State-gov,34339,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
48831,22,?,244771,11th,7,Separated,?,Unmarried,Black,Female,0,0,40,United-States
48832,60,Local-gov,313852,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,25,United-States
48833,41,Self-emp-inc,93227,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,1977,60,Taiwan
48834,18,Private,270502,11th,7,Never-married,Exec-managerial,Own-child,White,Female,0,0,20,United-States
48835,54,Private,115912,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
48836,37,Private,150057,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States
48837,50,Self-emp-not-inc,118058,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,55,United-States
48838,45,Self-emp-not-inc,116789,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States
48839,48,Private,185079,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States
48840,63,Private,117473,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40,United-States
48841,18,Private,150817,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
48842,31,Private,341632,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46,United-States

In [167]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29305 entries, 1 to 29305
Data columns (total 14 columns):
age               29305 non-null int64
workclass         29305 non-null object
fnlwgt            29305 non-null int64
education         29305 non-null object
education-num     29305 non-null int64
marital-status    29305 non-null object
occupation        29305 non-null object
relationship      29305 non-null object
race              29305 non-null object
sex               29305 non-null object
capital-gain      29305 non-null int64
capital-loss      29305 non-null int64
hours-per-week    29305 non-null int64
native-country    29305 non-null object
dtypes: int64(6), object(8)
memory usage: 3.4+ MB

In [168]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19537 entries, 29306 to 48842
Data columns (total 14 columns):
age               19537 non-null int64
workclass         19537 non-null object
fnlwgt            19537 non-null int64
education         19537 non-null object
education-num     19537 non-null int64
marital-status    19537 non-null object
occupation        19537 non-null object
relationship      19537 non-null object
race              19537 non-null object
sex               19537 non-null object
capital-gain      19537 non-null int64
capital-loss      19537 non-null int64
hours-per-week    19537 non-null int64
native-country    19537 non-null object
dtypes: int64(6), object(8)
memory usage: 2.2+ MB

## 결측치 없음

In [169]:
train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

In [170]:
test.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

## 각 특성의 속성보기
- age	workclass	fnlwgt	education	education-num	marital-status	occupation	relationship	race	sex	capital-gain	capital-loss	hours-per-week	native-country

In [171]:
train.iloc[:,0].values           # 나이

array([25, 39, 35, ..., 18, 33, 65], dtype=int64)

In [172]:
train.iloc[:,1].value_counts()   # workclass

 Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 ?                    1663
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
Name: workclass, dtype: int64

In [173]:
test.iloc[:,1].value_counts()   # workclass

 Private             13496
 Self-emp-not-inc     1557
 Local-gov            1268
 ?                    1136
 State-gov             780
 Self-emp-inc          708
 Federal-gov           578
 Without-pay             9
 Never-worked            5
Name: workclass, dtype: int64

In [174]:
train.iloc[:,2].values              # fnlwgt

array([219199,  52978, 196899, ..., 258474, 157446,  94809], dtype=int64)

In [175]:
train.iloc[:,3].value_counts()     # education

 HS-grad         9435
 Some-college    6558
 Bachelors       4848
 Masters         1587
 Assoc-voc       1230
 11th            1057
 Assoc-acdm       980
 10th             816
 7th-8th          574
 Prof-school      500
 9th              430
 12th             415
 Doctorate        347
 5th-6th          334
 1st-4th          148
 Preschool         46
Name: education, dtype: int64

In [176]:
test.iloc[:,3].value_counts()     # education

 HS-grad         6349
 Some-college    4320
 Bachelors       3177
 Masters         1070
 Assoc-voc        831
 11th             755
 Assoc-acdm       621
 10th             573
 7th-8th          381
 Prof-school      334
 9th              326
 Doctorate        247
 12th             242
 5th-6th          175
 1st-4th           99
 Preschool         37
Name: education, dtype: int64

In [177]:
train.iloc[:,4].values              # education-num

array([ 7, 10, 13, ...,  6,  7,  9], dtype=int64)

In [178]:
train.iloc[:,5].value_counts()      # marital-status

 Married-civ-spouse       13331
 Never-married             9673
 Divorced                  4030
 Widowed                    942
 Separated                  914
 Married-spouse-absent      394
 Married-AF-spouse           21
Name: marital-status, dtype: int64

In [179]:
test.iloc[:,5].value_counts()      # marital-status

 Married-civ-spouse       9048
 Never-married            6444
 Divorced                 2603
 Separated                 616
 Widowed                   576
 Married-spouse-absent     234
 Married-AF-spouse          16
Name: marital-status, dtype: int64

In [180]:
train.iloc[:,6].value_counts()    # occupation

 Prof-specialty       3724
 Craft-repair         3632
 Exec-managerial      3609
 Adm-clerical         3440
 Sales                3292
 Other-service        2975
 Machine-op-inspct    1811
 ?                    1668
 Transport-moving     1393
 Handlers-cleaners    1249
 Farming-fishing       888
 Tech-support          865
 Protective-serv       603
 Priv-house-serv       146
 Armed-Forces           10
Name: occupation, dtype: int64

In [181]:
test.iloc[:,6].value_counts()    # occupation

 Craft-repair         2480
 Exec-managerial      2477
 Prof-specialty       2448
 Sales                2212
 Adm-clerical         2171
 Other-service        1948
 Machine-op-inspct    1211
 ?                    1141
 Transport-moving      962
 Handlers-cleaners     823
 Farming-fishing       602
 Tech-support          581
 Protective-serv       380
 Priv-house-serv        96
 Armed-Forces            5
Name: occupation, dtype: int64

In [182]:
train.iloc[:,7].value_counts()   # relationship

 Husband           11769
 Not-in-family      7637
 Own-child          4554
 Unmarried          3071
 Wife               1370
 Other-relative      904
Name: relationship, dtype: int64

In [183]:
test.iloc[:,7].value_counts()   # relationship

 Husband           7947
 Not-in-family     4946
 Own-child         3027
 Unmarried         2054
 Wife               961
 Other-relative     602
Name: relationship, dtype: int64

In [184]:
train.iloc[:,8].value_counts()   # race

 White                 25081
 Black                  2776
 Asian-Pac-Islander      919
 Amer-Indian-Eskimo      290
 Other                   239
Name: race, dtype: int64

In [185]:
test.iloc[:,8].value_counts()   # race

 White                 16681
 Black                  1909
 Asian-Pac-Islander      600
 Amer-Indian-Eskimo      180
 Other                   167
Name: race, dtype: int64

In [186]:
train.iloc[:,9].value_counts()   # sex

 Male      19621
 Female     9684
Name: sex, dtype: int64

In [187]:
train.iloc[:,10].values            # capital-gain

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [188]:
train.iloc[:,11].values            # capital-loss

array([   0, 1721,    0, ...,    0,    0,    0], dtype=int64)

In [189]:
train.iloc[:,12].values           # hours-per-week

array([40, 55, 50, ..., 40, 65, 40], dtype=int64)

In [190]:
train.iloc[:,13].value_counts()   # native-country

 United-States                 26301
 Mexico                          579
 ?                               495
 Philippines                     178
 Germany                         124
 Puerto-Rico                     117
 Canada                          111
 El-Salvador                      96
 Cuba                             94
 India                            90
 England                          75
 South                            74
 Jamaica                          68
 China                            68
 Dominican-Republic               61
 Italy                            60
 Japan                            54
 Columbia                         53
 Poland                           53
 Guatemala                        51
 Haiti                            51
 Vietnam                          50
 Portugal                         43
 Taiwan                           39
 Iran                             38
 Nicaragua                        28
 Greece                           25
 Peru                             25
 Ireland                          23
 Ecuador                          21
 France                           20
 Cambodia                         19
 Hong                             19
 Outlying-US(Guam-USVI-etc)       15
 Thailand                         15
 Yugoslavia                       13
 Trinadad&Tobago                  13
 Laos                             13
 Hungary                          12
 Honduras                         11
 Scotland                          9
 Holand-Netherlands                1
Name: native-country, dtype: int64

## one-hot-encoding

### train test 합치기

In [191]:
combined = train.append(test,ignore_index=True)

In [192]:
combined.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States
1,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States

In [193]:
onehot_combined = pd.get_dummies(combined)

In [194]:
onehot_combined

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,25,219199,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,39,52978,10,0,1721,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,35,196899,13,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,64,135527,11,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,24,60783,10,0,0,70,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,66,274451,5,0,0,25,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,56,152874,13,0,1741,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,70,165586,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,21,211013,11,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,33,192644,9,0,0,35,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,45,174794,10,0,0,29,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,54,231004,10,0,0,37,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,63,241404,10,0,0,35,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
13,58,36091,14,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
14,44,53956,10,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,31,162312,13,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,54,299324,3,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,17,52012,7,0,0,15,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,43,208613,15,99999,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,18,220168,10,0,0,16,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,23,194096,10,0,0,30,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,50,343748,10,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,54,96062,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,19,366088,5,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,19,50626,10,0,0,20,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,45,179048,8,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,38,275338,13,1151,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,33,126950,9,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,29,190539,13,0,1590,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,18,332125,9,2176,0,25,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,48,171095,12,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48813,61,119986,13,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48814,36,209993,2,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48815,39,205359,12,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48816,51,255412,13,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48817,27,116298,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48818,47,106942,4,0,0,38,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48819,47,94342,9,0,0,16,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48820,45,58683,13,5178,0,48,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48821,31,309620,14,0,0,6,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48822,62,113440,13,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48823,65,213149,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48824,39,185084,10,0,0,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48825,37,189878,10,0,0,60,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48826,58,26947,13,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48827,24,379418,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48828,20,190231,5,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48829,69,34339,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48830,22,244771,7,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48831,60,313852,14,0,0,25,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48832,41,93227,13,0,1977,60,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
48833,18,270502,7,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48834,54,115912,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48835,37,150057,9,0,0,52,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48836,50,118058,13,15024,0,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48837,45,116789,9,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48838,48,185079,9,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48839,63,117473,10,4386,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48840,18,150817,7,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48841,31,341632,12,0,0,46,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [195]:
onehot_combined[29303:29306]

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
29303,33,157446,7,0,0,65,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29304,65,94809,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29305,18,245274,10,0,0,16,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [196]:
train[29303:]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
no,,,,,,,,,,,,,,
29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States
29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States

## 원핫인코딩 후  train test 나누기
- 1 ~ 29305
- 29306 ~ 48842

In [197]:
onehot_train = onehot_combined.iloc[:29305, :]
onehot_test = onehot_combined.iloc[29305:, :]

In [198]:
onehot_train[29302:]

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
29302,18,258474,6,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29303,33,157446,7,0,0,65,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29304,65,94809,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [199]:
onehot_test[:2]

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
29305,18,245274,10,0,0,16,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29306,29,83003,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### 원본데이터랑 원핫인코딩 후 train test 행 개수 비교하기

In [200]:
print(train.shape)
print(test.shape)

(29305, 14)
(19537, 14)

In [201]:
print(onehot_train.shape)
print(onehot_test.shape)

(29305, 108)
(19537, 108)

### 빼놓은 income을 y에 넣기

In [202]:
y = targets

## 특성 중요도
- onehot_train : 결측치 처리(컬럼삭제, 행 1개삭제, 널값채우기) 후 원핫인코딩한 train
- onehot_test
- 랜덤포레스트회귀 모델
- 나무100개, random_state=7

In [203]:
from sklearn.ensemble import RandomForestClassifier

ranfo_classifier = RandomForestClassifier(n_estimators=200, random_state=7)
ranfo_classifier.fit(onehot_train, y)

fi = ranfo_classifier.feature_importances_
importance_df = pd.DataFrame(fi, index=onehot_train.columns)
importance_df.sort_values(by=0, ascending=False)

                                                       0
fnlwgt                                      1.626591e-01
age                                         1.520145e-01
capital-gain                                9.171828e-02
hours-per-week                              8.510534e-02
marital-status_ Married-civ-spouse          6.662707e-02
education-num                               6.104209e-02
relationship_ Husband                       4.287681e-02
capital-loss                                2.745210e-02
marital-status_ Never-married               2.229445e-02
occupation_ Exec-managerial                 1.862302e-02
occupation_ Prof-specialty                  1.552058e-02
relationship_ Not-in-family                 1.150965e-02
education_ Bachelors                        1.133955e-02
workclass_ Private                          1.037968e-02
sex_ Male                                   9.594385e-03
workclass_ Self-emp-not-inc                 9.270037e-03
relationship_ Wife                          8.826313e-03
relationship_ Own-child                     8.509530e-03
sex_ Female                                 8.428508e-03
education_ HS-grad                          7.946978e-03
education_ Masters                          7.625929e-03
occupation_ Sales                           7.566240e-03
occupation_ Other-service                   7.085470e-03
occupation_ Craft-repair                    6.714809e-03
race_ White                                 6.529093e-03
native-country_ United-States               6.250861e-03
workclass_ Local-gov                        5.887259e-03
marital-status_ Divorced                    5.821460e-03
occupation_ Adm-clerical                    5.658463e-03
education_ Some-college                     5.619560e-03
...                                                  ...
native-country_ Portugal                    3.586009e-04
education_ 1st-4th                          3.069556e-04
marital-status_ Married-AF-spouse           2.927320e-04
native-country_ Columbia                    2.579485e-04
native-country_ Cambodia                    2.467763e-04
native-country_ Taiwan                      2.457380e-04
native-country_ Hungary                     2.274120e-04
native-country_ El-Salvador                 2.176896e-04
native-country_ France                      2.129106e-04
native-country_ Vietnam                     1.997156e-04
native-country_ Dominican-Republic          1.908467e-04
native-country_ Peru                        1.646950e-04
occupation_ Priv-house-serv                 1.640537e-04
native-country_ Yugoslavia                  1.469412e-04
native-country_ Ecuador                     1.365618e-04
workclass_ Without-pay                      1.265243e-04
native-country_ Haiti                       1.183923e-04
native-country_ Guatemala                   1.173753e-04
native-country_ Hong                        9.812636e-05
occupation_ Armed-Forces                    9.402899e-05
native-country_ Nicaragua                   8.409845e-05
native-country_ Scotland                    6.287531e-05
education_ Preschool                        6.055098e-05
native-country_ Outlying-US(Guam-USVI-etc)  5.253673e-05
native-country_ Laos                        4.791262e-05
native-country_ Thailand                    4.248323e-05
native-country_ Trinadad&Tobago             3.834798e-05
native-country_ Honduras                    2.294946e-05
native-country_ Holand-Netherlands          1.255952e-06
workclass_ Never-worked                     2.819543e-08

[108 rows x 1 columns]

## 특성 선택

In [204]:
from sklearn.feature_selection import SelectFromModel                  # 특성선택해주는 라이브러리
selectModel = SelectFromModel(ranfo_classifier, prefit=True, threshold=0.00001)
train_reduced = selectModel.transform(onehot_train)
test_reduced = selectModel.transform(onehot_test)
print(train_reduced.shape)
print(test_reduced.shape)

(29305, 106)
(19537, 106)

### X_train, X_test, y_train, y_test

In [205]:
from sklearn.model_selection import train_test_split                        
X_train, X_test, y_train, y_test = train_test_split(train_reduced, y, random_state=7)

### 스케일링

In [206]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X_train)    # 스케일은 test로 하면 안된다. train으로만 스케일링 모델을 만든다.
X_train_transform = scaler.transform(X_train)
X_test_transform = scaler.transform(X_test)

## knn

In [207]:
#from sklearn.neighbors import KNeighborsClassifier

#for k in tqdm_notebook(range(1,20)) :
#    knn = KNeighborsClassifier(n_neighbors=k)
#    knn.fit(X_train_transform, y_train)
#    print(k, knn.score(X_train_transform, y_train))

## 베스트 모델로 학습하기

In [208]:
final_knn = KNeighborsClassifier(n_neighbors=2)    
final_knn.fit(X_train_transform, y_train)
print(final_knn.score(X_train_transform, y_train))             # 평가

0.9156429156429157

## 평가하기

In [209]:
final_knn.fit(X_test_transform, y_test)
print(final_knn.score(X_test_transform, y_test))

0.9127883171830217

## 예측하기

In [214]:
test_transform_reduced = scaler.transform(test_reduced)

In [215]:
pre = final_knn.predict(test_transform_reduced)

## 저장하기

In [216]:
sub = pd.read_csv("sample_submission.csv", index_col=0)
sub["income"] = pre
sub.head()

       income
no
29306       0
29307       0
29308       0
29309       0
29310       1

In [217]:
sub.to_csv("income_KNN4_scaling(106).csv")